/* css/FastPage.css */

.FastPage {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left:  80px; /* Changed from 50px to 80px */
  padding-top: 25px; /* Added this line */
}

.FastPage .options {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Added this line */
  margin: 20px 0;
  width: 80%; /* Changed from 300px to 80% */
  max-width: 100%;
  margin: auto;
}

.FastPage .option {
  display: flex; 
  align-items: center; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.FastPage .option img {
  margin-right: 10px; 
  padding-left: 30px;
  width: 30px;
}


.FastPage .option.selected {
  background-color: #f0d27f;
}

.FastPage button:disabled {
  background-color: #7a7a78;
  cursor: not-allowed;
}

.backButton {
  position: absolute;
  top: 18px;
  left: 0;
}
